.product-details {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  gap: 2%;
}

.images {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin-top: 5%;
  gap: 4%;
}

.image-head {
  border: solid #000 1px;
  height: 65%;
  width: 85%;
  border-radius: 20px;
}

.image-bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.image-bottom > div {
  width: 41%;
  border: solid #000 1px;
  height: 20vh;
  border-radius: 20px;
}

.product-details h1 {
  font-family: "Poppins Medium";
  color: #003f62;
  font-size: 2rem;
}

.product-details h2 {
  font-family: "Poppins Medium";
  font-size: 1rem;
  color: #232323;
}

.title-price-details {
  font-family: "Poppins SemiBold";
  color: #4a4a4a;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.information-achat {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 30%;
  gap: 5.5%;
}

.availability-details {
  display: flex;
  align-items: center;
  gap: 5%;
}

.in-stock {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 5%;
  font-family: "Poppins Medium";
  color: #30bd57;
}

.color-detail {
  display: flex;
  align-items: center;
  gap: 3%;
}

.quantity-details {
  display: flex;
  align-items: center;
  font-family: "Poppins Medium";
  gap: 5%;
}

.console-number{
  display: flex;
  align-items: center;
}

.console-number p{ 
  padding: 0.8px 14px;
}

.quantity-details button {
  background-color: #eeee;
  border: #bdbdbd;
  border: solid 1px #ACACAC;
  cursor: pointer;
}

.card-buy {
  display: flex;
  gap: 10%;
}

.card-buy button{
  background-color: #eda415;
  border: none;
  width: 50%;
  height: 230%;
  border-radius: 30px;
  font-family: "Poppins SemiBold";
  color: white;
  cursor: pointer;
}

.card-buy button:hover{
  background-color: white;
  border: none;
  width: 50%;
  height: 230%;
  border-radius: 30px;
  font-family: "Poppins SemiBold";
  color: #eda415;
  cursor: pointer;
  border: solid 1px #eda415;
}


.sku {
  display: flex;
  gap: 5%;
  font-family: "Poppins Medium";
  color: #434343;
}

.category-detail {
  display: flex;
  align-items: center;
  gap: 5%;
}

.category-detail {
  font-family: "Poppins Regular";
  font-size: 0.8rem;
  color: #434343;
}

.category-detail > div {
  display: flex;
}

.share {
  display: flex;
}
