.product-details{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    gap: 2%;
}

.images{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-top: 5%;
    gap: 4%;
}

.image-head{
    border: solid #000 1px;
    height: 65%;
    width: 85%;
    border-radius: 20px;
}

.image-bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.image-bottom >div{
    width: 41%;
    border: solid #000 1px;
    height: 20vh;
    border-radius: 20px;
}

.product-details h1{
    font-family: 'Poppins Medium';
    color: #003F62;
    font-size: 2rem;
}

.product-details h2 {
    font-family: 'Poppins Medium';
    font-size: 1rem;
    color: #232323;
}

.title-price p{
    font-family: "Poppins SemiBold";
    color: #4A4A4A;
    font-size: 1.5em;
}

.information-achat{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 5.5%;
}

.availability-details{
    display: flex;
    align-items: center;
    gap: 5%;
}

.in-stock{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5%;
    font-family: 'Poppins Medium';
    color: #30BD57;
}


.color-detail{
    display: flex;
    align-items: center;

}

.quantity{
    display: flex;
    align-items: center;
}

.card-buy{
    display: flex;
    gap: 10%;
}

.card-buy button{
    background-color: #EDA415;
    border: none;
    width: 50%;
    height: 230%;
    border-radius: 30px;
    font-family: 'Poppins SemiBold';
    color: white;
}

.sku{
    display: flex;
    gap: 5%;
    font-family: 'Poppins Medium';
    color: #434343;
}

.category-detail{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 110%;
}

.pourcent{
    display: flex;
    gap:1%;
}

.category-detail >div{
    display: flex;
}

.share{
    display: flex;
}








