.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
}

.content {
  background-color: #003f62;
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.left {
  display: flex;
  padding: 0 20px;
}

.left button{
  display: flex;
  font-family: "FiraCode Bold";
  background-color: transparent;
  border: hidden;
  font-size: 20px;
  gap: 10px;
  justify-content: center;
  color: white;
  align-items: center;
}

.input-button {
  display: flex;
  height: 40px;
  font-family: "Poppins Regular";
  font-size: 14px;
  background: white;
  border-radius: 12px;
  color: #003f62;
}

.input-button input {
  border-radius: 12px;
  border: none;
  background: transparent;
  padding: 10px;
}
.input-button input:focus {
  outline: none;
}

.input-button button {
  border-radius: 12px;
  padding: 10px;
  border: solid 1px #eda415;
  background-color: #eda415;
  color: white;
}

.right {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  font-family: "Poppins Regular";
  font-size: 16px;
}

.right button{
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.like {
  display: flex;
  align-items: center;
}

.liste{
  display: flex;
  align-items: center;
  gap: 5%;
}

.liste span{
  font-size: 10px;
  background-color: #EDA415;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-family: "Poppins Regular";
}

.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1070px) {
  .right {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
    padding: 0 20px;
  }
  .navbar-mobile .line1 {
    width: 30px;
    height: 2px;
    background: #d9d9d9;
  }
  .navbar-mobile .line2 {
    width: 20px;
    height: 2px;
    background: #d9d9d9;
  }
}
