.breadcrumb{
    display: flex;
    width: 100%;
    font-family: "Poppins Medium";
    background-color: #F4F4F4;
    position: sticky;
    height: 6vh;
}

.breadcrumb-content{
    display: flex;
    gap: 98px;
    margin-left: 98px;
    width: 100%;
}

.breadcrumb-left{
    display: flex;
    color: white;
    background-color: #EDA415;
    padding: 0 14px;
    align-items: center;
    justify-content: center;
}

.breadcrumb-mid{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1070px)   {
    .breadcrumb{
        display: none
    }    
}


