.filter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter > div {
  display: flex;
  gap: 5%;
  align-items: center;
}



.line {
  border: solid 1px #000;
}

.categorie{
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 15%;
}

.availabality{
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 10%;
}

.product-type{
    display: flex;
    flex-direction: column;
    height: 6%;
}