.product-content{
  display: flex;
}
.product {
  display: flex;
  border: solid 1px #b6b6b6;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px 20px;
  width: 25%;
  margin: 1.5%;
}

.title-price {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.image {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title {
  color: #003f62;
  font-family: "Poppins Medium";
}

.price {
  color: #4a4a4a;
  font-family: "Poppins SemiBold";
}

.rate{
    display: flex;
    gap: 2%;
}

.star{
    cursor: pointer;
}


@media screen and (max-width: 1070px) {
  .product {
    display: flex;
    width: 70%;
    flex-direction: row;
  }

  .product-item {
    display: flex;
  }

  .title-price {
    display: flex;
    width: 50%;
    align-items: center;
  }

  .image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .console-product {
    margin-top: 10%;
  }
}
