.console-product{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    gap : 20px;
    justify-content: center;

}
.product{
    display: flex;
    width: 13%;
    border: solid 1px #B6B6B6;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px 20px;
}

.title-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image{
    display: flex;
    width: 100%;
    justify-content: center;
}

.title{
    color: #003F62;
    font-family: 'Poppins Medium';
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 15px;
}

.description::after {
    content: "..."; /* Ajoutez les trois points à la fin */
}

.price{
    color: #4A4A4A;
    font-family: 'Poppins SemiBold';
}

@media screen and (max-width: 1070px)   {
    .product{
        display: flex;
        width: 70%;
        flex-direction: row;
    }

    .product-item{
        display: flex;
    }

    .title-price{
        display: flex;
        width: 50%;
        align-items: center;
    }

    .image{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .console-product{
        margin-top: 10%;
    }
    
}